{% extends "base.html" %}

{% block title %}Início{% endblock %}

{% block content %}

<h1>Lista de Brinquedos</h1>
<ul>
    {% for brinquedo in brinquedos %}
        <li>
            {{ brinquedo.nome }} - {{ brinquedo.categoria }} - 
            {% if brinquedo.disponivel %}
                Disponível
            {% else %}
                Indisponível - Emprestado por: {{ brinquedo.emprestimos[0].professor.nome }} em {{ brinquedo.emprestimos[0].data_emprestimo.strftime('%d/%m/%Y às %H:%M') }}
            {% endif %}
        </li>
    {% endfor %}
</ul>

{% endblock %}
